    {% extends 'base.html.twig' %}
        {% block body %}
            <h1>Liste des membres</h1>
            <table border="1">
                {% for  key, value in list %}


                 <tr><td><a href="{{ url('details', {'id' : key}) }}">{{ value.nom ~ ' ' ~ value.prenom }}</a></td><td>{{ value.email }}</td><td><img src="{{ asset('img/' ~ details.image) }}"></td></tr>
                {% endfor %}
            </table>

        </p>
        {% endblock %}
