<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-sclae=1.0, minimum-scale=1.0">
    <title>SYMFONY SA MERE</title>
    <link rel="stylesheet" href="asset{{ 'css/bootstrap.min.css' }}">
    {% block style %} {% endblock %}
</head>
<body>
    <div class="container">
        {% include 'contact/form.html.twig' %}
        {% block main %}{% endblock %}
    </div>
</body>
</html>